{include file="common/header" /}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">CDN防攻击
      <small></small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{:url('index/index')}">首页</a>
      </li>
      <li class="breadcrumb-item active">CDN加速防攻击业务</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h3 class="card-header">入门级</h3>
          <div class="card-body">
            <div class="display-4">¥3500</div>
            <div class="font-italic">每月</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">高级CC防护</li>
            <li class="list-group-item">高级DDOS防护</li>
            <li class="list-group-item">HTTPS/SSL支持</li>
            <li class="list-group-item">WebSocket支持</li>
            <li class="list-group-item">多节点负载均衡</li>
            <li class="list-group-item">
              <a href="#" class="btn btn-primary">购买</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card card-outline-primary h-100">
          <h3 class="card-header bg-primary text-white">商业级</h3>
          <div class="card-body">
            <div class="display-4">¥5000</div>
            <div class="font-italic">每月</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">高级CC防护</li>
            <li class="list-group-item">高级DDOS防护</li>
            <li class="list-group-item">HTTPS/SSL支持</li>
            <li class="list-group-item">WebSocket支持</li>
            <li class="list-group-item">多节点负载均衡</li>
            <li class="list-group-item">
              <a href="#" class="btn btn-primary">购买</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h3 class="card-header">旗舰级</h3>
          <div class="card-body">
            <div class="display-4">¥7000</div>
            <div class="font-italic">每月</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">高级CC防护</li>
            <li class="list-group-item">高级DDOS防护</li>
            <li class="list-group-item">HTTPS/SSL支持</li>
            <li class="list-group-item">WebSocket支持</li>
            <li class="list-group-item">多节点负载均衡</li>
            <li class="list-group-item">
              <a href="#" class="btn btn-primary">购买</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->

{include file="common/footer" /}