{include file="common/header" /}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">行业资讯
<!--      <small>时刻关注行业资讯</small>-->
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{:url('index/index')}">首页</a>
      </li>
      <li class="breadcrumb-item active">行业资讯</li>
    </ol>

    <!-- Blog Post -->
    {volist name="article" id="vo"}
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="{:url('index/newsdetail')}?id={$vo['id']}">
              <img class="rounded" src="{$vo.image}" alt="" width="100%" height="150px">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title">{$vo.title}</h2>
            <p class="card-text">{$vo.description}</p>
            <a href="{:url('index/newsdetail')}?id={$vo['id']}" class="btn btn-primary">查看 &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        发布于 {:date('Y-m-d H:i:s',$vo['createtime'])}
        <a href="#">管理员</a>
      </div>
    </div>
    {/volist}




    <!-- Pagination -->

    <ul class="pagination justify-content-center mb-4">
      {$article->render()}
<!--      <li class="page-item">-->
<!--        <a class="page-link" href="#">&larr; Older</a>-->
<!--      </li>-->
<!--      <li class="page-item disabled">-->
<!--        <a class="page-link" href="#">Newer &rarr;</a>-->
<!--      </li>-->
    </ul>

  </div>
  <!-- /.container -->

{include file="common/footer" /}
