{include file="common/header" /}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">香港/国外服务器
      <small>Subheading</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{:url('index/index')}">首页</a>
      </li>
      <li class="breadcrumb-item active">CDN加速防攻击业务</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
      <div class="col-lg-12 mb-12">
        <table class="table table-bordered">
          <tr>
            <th>处理器</th>
            <th>内存大小</th>
            <th>硬盘大小</th>
            <th>网络带宽</th>
            <th>带宽类型</th>
            <th>IP数</th>
            <th>价格</th>
            <th>购买请联系客服</th>
          </tr>
          <tr>
            <td>E3-1225/1230</td>
            <td>16G</td>
            <td>1T SATA</td>
            <td>20Mbps</td>
            <td>大陆直连 CN2回国优化</td>
            <td>3IP</td>
            <td>¥799</td>
            <td></td>
          </tr>
          <tr>
            <td>E5-2640L/2650L</td>
            <td>16G</td>
            <td>600G SAS</td>
            <td>20Mbps</td>
            <td>大陆直连 CN2回国优化</td>
            <td>3IP</td>
            <td>¥949</td>
            <td></td>
          </tr>
          <tr>
            <td>E5-2650*2</td>
            <td>32G</td>
            <td>600G SAS*2</td>
            <td>20Mbps</td>
            <td>大陆直连 CN2回国优化</td>
            <td>3IP</td>
            <td>¥1599</td>
            <td></td>
          </tr>
          <tr>
            <td>E3-1225/1230</td>
            <td>16G</td>
            <td>1T SATA</td>
            <td>40Mbps</td>
            <td>大陆直连 CN2回国优化</td>
            <td>3IP</td>
            <td>¥1299</td>
            <td></td>
          </tr>
          <tr>
            <td>E5-2640L/2650L</td>
            <td>16G</td>
            <td>600G SAS</td>
            <td>40Mbps</td>
            <td>大陆直连 CN2回国优化</td>
            <td>3IP</td>
            <td>¥1549</td>
            <td></td>
          </tr>
          <tr>
            <td>E5-2650*2</td>
            <td>64G</td>
            <td>600G SAS*2 	</td>
            <td>40Mbps</td>
            <td>大陆直连 CN2回国优化</td>
            <td>3IP</td>
            <td>¥2099</td>
            <td></td>
          </tr>
<!--          <tr>-->
<!--            <td>E3-1225/1230</td>-->
<!--            <td>16G</td>-->
<!--            <td>1T SATA</td>-->
<!--            <td>20Mbps</td>-->
<!--            <td>大陆直连 CN2回国优化</td>-->
<!--            <td>3IP</td>-->
<!--            <td>¥799</td>-->
<!--          </tr>-->
        </table>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
{include file="common/footer" /}
