{include file="common/header" /}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">网站程序
      <small>{$cat.name}</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{:url('index/index')}">首页</a>
      </li>
      <li class="breadcrumb-item active">{$cat.name}</li>
    </ol>

    <div class="row">
      {volist name="app" id="vo"}
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="{:url('index/yuanmadetail')}?id={$vo['id']}"><img class="card-img-top" src="{$vo.image}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{:url('index/yuanmadetail')}?id={$vo['id']}">{$vo.title}</a>
            </h4>
            <p class="card-text">{$vo.description}</p>
          </div>
        </div>
      </div>
      {/volist}
    </div>

    <!-- Pagination -->
    {$app->render()}
<!--    <ul class="pagination justify-content-center">-->
<!--      <li class="page-item">-->
<!--        <a class="page-link" href="#" aria-label="Previous">-->
<!--          <span aria-hidden="true">&laquo;</span>-->
<!--          <span class="sr-only">Previous</span>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="page-item">-->
<!--        <a class="page-link" href="#">1</a>-->
<!--      </li>-->
<!--      <li class="page-item">-->
<!--        <a class="page-link" href="#">2</a>-->
<!--      </li>-->
<!--      <li class="page-item">-->
<!--        <a class="page-link" href="#">3</a>-->
<!--      </li>-->
<!--      <li class="page-item">-->
<!--        <a class="page-link" href="#" aria-label="Next">-->
<!--          <span aria-hidden="true">&raquo;</span>-->
<!--          <span class="sr-only">Next</span>-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->

  </div>
  <!-- /.container -->

{include file="common/footer" /}
